export(prompt_parcial)
export(theme_neon)
export(neon_palette)
export(clean_names_ultra)
export(report_nas)
export(quick_freq)
export(nice_table)
export(setup_examen)
export(function_registry)
export(ggplot_empty_templates)
export(pivot_longer_recap)
